<% layout("/layouts/boilerplate.ejs") %>
<body>
  <div class="searching">
    <h3 class="heading">ALL Listing</h3>
    <form class="d-flex" onsubmit= "searchCards(event)">
      <input class="form-control searchbox" type="text"  placeholder="Search by title...">
      <button class="ms-1 btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
    <form method="GET" action="/listing/new">
    </form>

    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-1">
        <% for(let listing of list){ %>
            <a href="/listing/<%= listing._id %>" class="listing-link">
            <div class="card" data-title="<%= listing.title %>">
                <img src="<%= listing.image.url %>" class="card-img-top" alt="listing-items" style="height: 20rem; object-fit:cover;">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                  <p class="card-text">
                    <b><%= listing.title %> </b>
                    <br>
                    <%= listing.location %>
                </p>
                </div>
              </div> 
              <% } %>
            </a>
    </div>
</body>


<!-- search the card -->
<script>
function searchCards(e) {
  e.preventDefault();
  const input = document.querySelector('.searchbox').value.toLowerCase();
  const container = document.querySelector('.row'); 
  const cards = Array.from(document.querySelectorAll('.listing-link')); 

  const visibleCards = cards.filter(card => {
    const title = card.querySelector('.card').getAttribute('data-title').toLowerCase();
    return title.includes(input);
  });

  cards.forEach(card => card.classList.add('d-none'));

  visibleCards.forEach(card => {
    card.classList.remove('d-none');
    container.appendChild(card); 
  });
}
</script>
