<% layout("/layouts/boilerplate.ejs") %>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-10 offset-md-3 offset-sm-1">
        <h3 class="heading text-center text-md-start">
          <%= list.title %>
        </h3>

        <div class="card">
          <img src="<%= list.image.url %>" class="card-img-top img-fluid" alt="card-img">
          <div class="card-body">
            <p class="card-text text-center">
              Blog by <i><%= list.owner.username %></i>
            </p>
            <p>
              <%= list.description %>
            </p>
            <p class="fw-bold">
              &#8377; <%= list.price.toLocaleString("en-IN") %>
            </p>
            <p>
              <%= list.location %>
              <br>
              <%= list.country %>
            </p>
          </div>
        </div>

        <% if(currUser && currUser._id.equals(list.owner._id)){ %>
          <div class="d-flex justify-content-center justify-content-md-start mt-3">
            <a href="/listing/<%= list._id %>/edit" class="btn btn-dark me-2">Edit Details</a>
            <form method="post" action="/listing/<%= list._id %>?_method=DELETE">
              <button class="btn btn-dark">Delete Item</button>
            </form>
          </div>
        <% } %>
      </div>

      <!-- Reviews Section -->
      <div class="col-lg-8 col-md-10 offset-lg-2 offset-md-1 mt-4">
        <% if(currUser){ %>
          <hr>
          <h4 class="text-center text-md-start">Leave a Review</h4>
          <form action="/listing/<%= list._id %>/Reviews" method="POST" novalidate class="needs-validation">
            <div>
              <label for="rating" class="form-label">Rating :</label>
              <fieldset class="starability-slot">
                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                <input type="radio" id="second-rate1" name="review[rating]" value="1" />
                <label for="second-rate1" title="Terrible">1 star</label>
                <input type="radio" id="second-rate2" name="review[rating]" value="2" />
                <label for="second-rate2" title="Not good">2 stars</label>
                <input type="radio" id="second-rate3" name="review[rating]" value="3" />
                <label for="second-rate3" title="Average">3 stars</label>
                <input type="radio" id="second-rate4" name="review[rating]" value="4" />
                <label for="second-rate4" title="Very good">4 stars</label>
                <input type="radio" id="second-rate5" name="review[rating]" value="5" />
                <label for="second-rate5" title="Amazing">5 stars</label>
              </fieldset>
            </div>

            <div class="mb-3">
              <label for="comment" class="form-label">Comments :</label>
              <textarea class="form-control" name="review[comment]" id="comment" cols="30" rows="5" required></textarea>
              <div class="invalid-feedback">Please add some comment for reviews </div>
            </div>
            <button class="btn btn-outline-dark">Submit</button>
          </form>
        <% } %>

        <hr>
        <% if(list.reviews.length > 0){ %>
          <h4 class="text-center text-md-start">All Reviews</h4>
          <div class="row g-3">
            <% for(review of list.reviews){ %>
              <div class="col-sm-12 col-md-6">
                <div class="card review-card">
                  <div class="card-body m-2">
                    <h5 class="card-title">@<%= review.author.username %></h5>
                    <p class="starability-result card-text" data-rating="<%= review.rating %>"></p>
                    <p class="card-text"><%= review.comment %></p>
                  </div>
                  <% if(currUser && currUser._id.equals(review.author._id)){ %>
                    <form method="POST" action="/listing/<%= list._id %>/reviews/<%= review._id %>?_method=DELETE">
                      <button class="btn btn-sm btn-dark m-2">Delete</button>
                    </form>
                  <% } %>
                </div>
              </div>
            <% } %>
          </div>
        <% } %>
      </div>

      <!-- Map Section -->
      <div class="col-lg-8 col-md-10 offset-lg-2 offset-md-1 mt-4">
        <h3 class="text-center text-md-start">Where you'll be</h3>
        <div id="map" class="mb-3 mt-3" style="height: 400px; width: 100%;"></div>
      </div>


      <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
      <script>
        const address = "<%= list.location %>, <%= list.country %>";
        const map_token = "<%= apiKey %>";
      </script>
      <script src="/js/map.js"></script>  
    </div>

    <div>
    <!-- chatbot section  -->
    <button id="chatbot-toggler">
      <span class="material-symbols-rounded">mode_comment</span>
      <span class="material-symbols-rounded">close</span> 
    </button>
  
    <div class="chatbot-popup">
      <!-- Chatbot Header -->
      <div class="chat-header">
        <div class="header-info">
          <svg class="chatbot-logo" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 1024 1024">
            <path d="M738.3 287.6H285.7c-59 0-106.8 47.8-106.8 106.8v303.1c0 59 47.8 106.8 106.8 106.8h81.5v111.1c0 .7.8 1.1 1.4.7l166.9-110.6 41.8-.8h117.4l43.6-.4c59 0 106.8-47.8 106.8-106.8V394.5c0-59-47.8-106.9-106.8-106.9zM351.7 448.2c0-29.5 23.9-53.5 53.5-53.5s53.5 23.9 53.5 53.5-23.9 53.5-53.5 53.5-53.5-23.9-53.5-53.5zm157.9 267.1c-67.8 0-123.8-47.5-132.3-109h264.6c-8.6 61.5-64.5 109-132.3 109zm110-213.7c-29.5 0-53.5-23.9-53.5-53.5s23.9-53.5 53.5-53.5 53.5 23.9 53.5 53.5-23.9 53.5-53.5 53.5zM867.2 644.5V453.1h26.5c19.4 0 35.1 15.7 35.1 35.1v121.1c0 19.4-15.7 35.1-35.1 35.1h-26.5zM95.2 609.4V488.2c0-19.4 15.7-35.1 35.1-35.1h26.5v191.3h-26.5c-19.4 0-35.1-15.7-35.1-35.1zM561.5 149.6c0 23.4-15.6 43.3-36.9 49.7v44.9h-30v-44.9c-21.4-6.5-36.9-26.3-36.9-49.7 0-28.6 23.3-51.9 51.9-51.9s51.9 23.3 51.9 51.9z"></path>
          </svg>
          <h2 class="logo-text">Chatbot</h2>
        </div>
        <button id="close-chatbot" class="material-symbols-rounded">keyboard_arrow_down</button>
      </div>
  
      <!-- Chatbot Body -->
      <div class="chat-body">
        <div class="message bot-message">
          <svg class="bot-avatar" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 1024 1024">
            <path d="M738.3 287.6H285.7c-59 0-106.8 47.8-106.8 106.8v303.1c0 59 47.8 106.8 106.8 106.8h81.5v111.1c0 .7.8 1.1 1.4.7l166.9-110.6 41.8-.8h117.4l43.6-.4c59 0 106.8-47.8 106.8-106.8V394.5c0-59-47.8-106.9-106.8-106.9zM351.7 448.2c0-29.5 23.9-53.5 53.5-53.5s53.5 23.9 53.5 53.5-23.9 53.5-53.5 53.5-53.5-23.9-53.5-53.5zm157.9 267.1c-67.8 0-123.8-47.5-132.3-109h264.6c-8.6 61.5-64.5 109-132.3 109zm110-213.7c-29.5 0-53.5-23.9-53.5-53.5s23.9-53.5 53.5-53.5 53.5 23.9 53.5 53.5-23.9 53.5-53.5 53.5zM867.2 644.5V453.1h26.5c19.4 0 35.1 15.7 35.1 35.1v121.1c0 19.4-15.7 35.1-35.1 35.1h-26.5zM95.2 609.4V488.2c0-19.4 15.7-35.1 35.1-35.1h26.5v191.3h-26.5c-19.4 0-35.1-15.7-35.1-35.1zM561.5 149.6c0 23.4-15.6 43.3-36.9 49.7v44.9h-30v-44.9c-21.4-6.5-36.9-26.3-36.9-49.7 0-28.6 23.3-51.9 51.9-51.9s51.9 23.3 51.9 51.9z"></path>
          </svg>
          <div class="message-text">Hey there 👋 <br> How can I help you today?</div>
        </div>
      </div>
  
        <!-- Chatbot Footer -->
         <div class="chat-footer">
          <form action="#" class="chat-form">
            <textarea placeholder="Message..." class="message-input" required></textarea>
            <div class="chat-controls">
              <button type="button" id="emoji-picker" class="material-symbols-rounded">sentiment_satisfied</button>
              <div class="file-upload-wrapper">
                <input type="file" accept="images/*" id="file-input" hidden>
                <img src="#">
                <button type="button" id="file-upload" class="material-symbols-rounded">attach_file</button>
                <button type="button" id="file-cancle" class="material-symbols-rounded">close</button>
              </div>
              <button type="submit" id="send-message" class="material-symbols-rounded">arrow_upward</button>
            </div>
  
          </form>
         </div>
    </div>
  

  </div>
  </div>
</body>
